/* ********** colors ********** */
/* dark grey: rgb(74,74,74) */
/* light grey: rgb(216, 216, 216) */ 




$main-bg-color:  rgb(216, 216, 216);

$secondary-bg-color: white;

$button-color-1: rgb(74,74,74);