/* ********** colors ********** */
/* dark grey: rgb(74,74,74) */
/* light grey: rgb(216, 216, 216) */ 
/* border: rgb(233,234,234); */



$main-bg-color:  rgb(216, 216, 216);
$secondary-bg-color: white;

$text-color-dark: rgb(74,74,74);

$button-color-1: rgb(74,74,74);

$border-color: rgb(233,234,234);