/* ***************************** */
/* ********** footer ********** */

footer{
    margin: 16px 0;

    & p {
        float: left; 
        margin-left: 24px; 
    }

    & ul {
        
        float:right; 
        margin-bottom: 32px;
        margin-right: 24px;
        overflow: hidden;
        
        & li {
            display: none;
            font-size: 1rem;
            padding-left: 1rem;
        }
    }
}

/* ********** big screens ********** */
@media all and (min-width:45em) {
    footer{
        & ul li {
            display: inline;  
        }
    }
}