/* ********** footer ********** */

footer{
    margin-top: 16px;

    & p {
        float: left; 
        margin-left: 24px;
        
    }

    & ul {
        float:right; 
        margin-bottom: 32px;
        margin-right: 24px;
        overflow: hidden;
        
        & li {
            display:inline;
            font-size: 1rem;
            padding-left: 1rem;
        }
    }
}
