
header {
    display: flex;
    justify-content: space-between;
}

header img { /* the three mobile icons and the logo*/
    height: 4rem; /* 40px is  the best size for fingers to push*/
    width: auto;
}
