/* ***************************** */
/* ********** header ********** */
header {
    background-color: $secondary-bg-color;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(233,234,234);

    & img { /* the three mobile icons and the logo*/
        min-height: 44px; /* 40px is  the best size for fingers to push*/
        width: auto;
        padding: 0.7rem;
    }
}

.logo {
    overflow: hidden;

    & a img:hover {
        border-bottom: 2px solid transparent;
    }
}




