/* ******************************* */
/* ********** navigation********** */

nav {
    width: 80%;
    overflow: hidden;
}

nav ul {
    overflow: hidden;
}

nav ul li {
    display: inline;
}

.desktop-menu {
    display: none;
}

.mobile-menu ul {
    display: flex;
    justify-content: space-around;
}

/* ********** big screens ********** */
@media all and (min-width: 45em) { 
    a{
        color:black;
    }

    .mobile-menu {
        display: none;
    }
    .desktop-menu {
        display: flex;
        justify-content: flex-end;
        
        & ul li {
            padding-right: 16px;
        }
        & ul li:last-child {
            padding-right: 24px;
        }
    } 
}