/* ***************************** */
/* ********** Thesis ********** */

.thesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 24px;
    
    &__heading {
        text-align: center;
        margin: 32px 0 16px 0;
    }

    & video {
        width:100%;
        height: auto;
    }

    & .main-thesis {
        overflow: hidden;

        & h5,
        p {
            display: none;
        }
    }

    & .smaller-thesis {
        display: none;
        & .newsbit {
            &__info {
                display: none;
            }
        }
    }
}


/* ********** big screens ********** */

@media all and (min-width: 45em) {

    .thesis {
        flex-direction: row;
        align-items: flex-start;
        border-bottom: 1px solid $border-color;

        & p { font-size: 0.7rem; width: 100%; padding-top: 8px; padding-right:16px;}
        & h5 {font-size:1.7rem; font-weight: bold; padding-top: 24px;}

        &__heading {text-align:center;}

        & .main-thesis {
            margin: 32px 24px;
            & h5,
            p {
                display: block;
            }
        }
    
        & .smaller-thesis {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            & .newsbit {
                display: flex;
                flex-direction: row;
                border: none;
                padding:16px;
                width:100%;
                margin-bottom: 16px;
    
                &__image {
                    width:35%;
                    height: 9rem;
                    padding:0;
                    display: flex;
                    flex-direction: column;
                    align-content: stretch;
                }
    
                &__info {
                    width:65%;
                    display:block;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    align-content: center;
                }
            }
        }
    }
}