/* ********** colors ********** */
/* dark grey: rgb(74,74,74) */
/* light grey: rgb(216, 216, 216) */
/* border: rgb(233,234,234); */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: 'Asap', 'Helvetica', sans-serif;
  font-size: 100%; }

/* ********** Typography ********** */
h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Asap', 'Helvetica', sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  line-height: 1.3; }

h1 {
  font-size: 2.8rem;
  font-weight: 700; }

h2 {
  font-size: 1.6rem;
  font-weight: 600; }

h3 {
  font-size: 3rem;
  font-weight: 700; }

h4 {
  font-size: 1.4rem;
  font-weight: 600; }

p,
a {
  font-family: 'Ropa Sans', 'Helvetica', sans-serif;
  font-size: 1.3rem; }

a {
  text-decoration: none; }

@media all and (min-width: 45em) {
  h1 {
    font-size: 2.2rem;
    font-weight: 700; }
  h2 {
    font-size: 1rem;
    font-weight: 600; } }

/* ********** utility ********** */
.padding-left {
  padding-left: 16px; }

.padding-right {
  padding-right: 16px; }

/* ********** Banner ********** */
.banner__section:first-child {
  min-width: 60%;
  max-width: 60%;
  padding: 24px; }

.banner__section:last-child {
  min-width: 40%; }

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 64px;
  background-color: #d8d8d8; }
  .banner__image {
    width: 100%;
    height: 15rem;
    background: url(../img/banner.jpg);
    background-position: top right;
    background-size: cover; }
  .banner__heading {
    width: 100%;
    height: auto; }
    .banner__heading h1 {
      padding: 32px 0 16px 0; }
    .banner__heading h2 {
      padding: 16px 0 24px 0; }
  .banner__button {
    text-align: center;
    margin-bottom: 32px;
    background-color: #4a4a4a;
    color: #d8d8d8;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1px; }

@media all and (min-width: 45em) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .banner__heading {
      min-width: 40%; }
      .banner__heading h1 {
        padding-bottom: 0; }
    .banner__button {
      font-size: 1rem;
      font-weight: 500;
      padding: 0.8rem;
      border-radius: 1px; } }

/* ********** header ********** */
.start-learning {
  border: 1px solid #e9eaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .start-learning h3 {
    margin-bottom: 16px;
    margin-top: 32px; }
  .start-learning ul {
    width: 100%; }
    .start-learning ul li {
      background-color: #d8d8d8;
      padding-bottom: 24px;
      padding-top: 16px;
      padding-left: 16px;
      margin-bottom: 8px;
      margin-left: 16px;
      margin-right: 16px; }
  .start-learning a {
    color: black;
    font-size: 2rem; }

/* ********** Newsbit ********** */
.news {
  display: flex;
  justify-content: flex-start; }

.news__section:first-child {
  min-width: 60%; }

.news__section:last-child {
  min-width: 40%; }

.newsbit {
  margin: 16px;
  padding-bottom: 64px; }
  .newsbit img {
    width: 100%;
    height: 13rem;
    background: url(../img/banner.jpg);
    background-position: top right;
    background-size: cover; }
  .newsbit h4 {
    padding-top: 16px; }
  .newsbit p {
    padding-bottom: 0.8rem; }
  .newsbit--big {
    display: none; }

@media all and (min-width: 45em) {
  .newsbit {
    display: flex;
    justify-content: flex-start; }
    .newsbit img {
      width: 35%;
      height: 8rem; }
    .newsbit__info {
      width: 60%;
      display: flex;
      flex-direction: column; }
    .newsbit--big {
      display: block; }
      .newsbit--big img {
        width: 100%;
        height: 21.5rem; } }

/* ********** Thesis ********** */
.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 24px; }
  .thesis h3 {
    margin-top: 32px;
    margin-bottom: 16px; }
  .thesis video {
    width: 100%;
    height: auto; }

/* ********** footer ********** */
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 16px; }

/* ********** header ********** */
header {
  background-color: white;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; }
  header img {
    /* the three mobile icons and the logo*/
    min-height: 40px;
    /* 40px is  the best size for fingers to push*/
    width: auto;
    padding: 1rem; }

/* ********** navigation********** */
nav {
  width: 80%; }

nav ul li {
  display: inline; }

.desktop-menu {
  display: none; }

.mobile-menu ul {
  display: flex;
  justify-content: space-around; }

@media all and (min-width: 45em) {
  /*720px */
  .mobile-menu {
    display: none; }
  .desktop-menu {
    display: flex;
    justify-content: flex-end; }
    .desktop-menu ul li {
      padding-right: 16px; }
    .desktop-menu ul li:last-child {
      padding-right: 24px; } }
