*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: 'Asap', 'Helvetica', sans-serif;
  font-size: 100%; }

header {
  display: flex;
  justify-content: space-between; }

header img {
  /* the three mobile icons and the logo*/
  height: 4rem;
  /* 40px is  the best size for fingers to push*/
  width: auto; }

nav {
  width: 80%; }

nav ul li {
  display: inline; }

.desktop-menu {
  display: none; }

.mobile-menu ul {
  display: flex;
  justify-content: space-around; }
